# AFIP SDK — token de app.afipsdk.com
AFIP_SDK_TOKEN=

# Tu CUIT real
AFIP_CUIT=20400832278

# CUIT para login en ARCA (generalmente igual al AFIP_CUIT)
AFIP_USERNAME=20400832278

# Password de ARCA
AFIP_PASSWORD=

# Alias para el certificado (alfanumerico)
AFIP_ALIAS=mifacturacert

# Web service a autorizar: wsfe o wsfex
AFIP_SERVICE=wsfex
